nav {
    color: #ffff;
    background: #05b0ff;
    text-align:center；
}

#html5 {
    color: rgb(252, 158, 71) ;
    text-decoration: none;
}
body{
    /* background-image : url("file://D:/download/81396f3egy1fk743dbazgj23vc2kw1l2.jpg"); */
    background-repeat:no-repeat;
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}