nav {
    color: #ffff;
    background: #05b0ff;
    text-align:center；
}

a {
    color: rgb(252, 158, 71) ;
    text-decoration: none;
}
body{
    /* background-image : url("file://D:/download/81396f3egy1fk743dbazgj23vc2kw1l2.jpg"); */
    background-repeat:no-repeat;
}